asgiref==3.12.1
click==8.5.0
django==6.1.1
django-ckeditor-5==0.2.20
django-stubs==6.1.0
django-stubs-ext==6.1.0
djangorestframework==3.18.1
djangorestframework-stubs==3.18.1
gunicorn==26.2.0
h11==0.16.0
pillow==12.3.0
psycopg==3.3.5
psycopg-binary==3.3.5
python-dotenv==1.2.3
ruff==0.16.7
sqlparse==0.6.0
types-pyyaml==6.0.12.20260906
typing-extensions==4.16.0
tzdata==2026.4
uvicorn==0.53.0
uvicorn-worker==0.4.0
